In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import norm

In [26]:
dados = pd.read_csv('/content/dados.csv')
dados1 = pd.read_csv('/content/E_commerce.csv')
dados

     Unnamed: 0  Tempo_app  Tempo_site  Tempo_de_adesao  Total_gasto_anual
0             0  12.655651   39.577668         4.082621         587.951054
1             1  11.109461   37.268959         2.664034         392.204933
2             2  11.330278   37.110597         4.104543         487.547505
3             3  13.717514   36.721283         3.120179         581.852344
4             4  12.795189   37.536653         4.446308         599.406092
..          ...        ...         ...              ...                ...
495         495  13.566160   36.417985         3.746573         573.847438
496         496  11.695736   37.190268         3.576526         529.049004
497         497  11.499409   38.332576         4.958264         551.620145
498         498  12.391423   36.840086         2.336485         456.469510
499         499  12.418808   35.771016         2.735160         497.778642

[500 rows x 5 columns]

In [27]:
del dados ['Unnamed: 0']

In [28]:
del dados1 ['Unnamed: 0']

#Analisando as vendas

In [14]:
venda = dados['Total_gasto_anual']
print('Os clientes geraram uma receita de R${:.2f}'.format(venda.sum()))
print('A empresa recebeu em média R${:.2f} por venda'.format(venda.mean()))
print('O valor da maior receita foi R${:.2f}'.format(venda.max()))
print('O valor da menor venda foi R${:.2f}'.format(venda.min()))

Os clientes geraram uma receita de R$249657.02
A empresa recebeu em média R$499.31 por venda
O valor da maior receita foi R$765.52
O valor da menor venda foi R$256.67

In [15]:
dados['Total_gasto_anual'].sort_values(ascending = False).head(10)

65     765.518462
157    744.221867
50     725.584814
205    712.396327
368    708.935185
24     700.917092
305    689.787604
464    689.235700
151    684.163431
396    669.987141
Name: Total_gasto_anual, dtype: float64

In [16]:
m_clientes = dados1.iloc[[65, 157, 50, 205, 368, 24, 305, 464, 151, 396], [0, 3, 4, 5, 6]]
print('Os 10 melhores clientes são: \n')
m_clientes

Os 10 melhores clientes são:

,Email,Tempo_app,Tempo_site,Tempo_compra,Valor_da_venda
65,kyang@diaz.org,15.126994,37.157624,5.377594,765.518462
157,asilva@yahoo.com,12.207298,33.913847,6.922689,744.221867
50,william82@gmail.com,13.858062,37.780265,5.976768,725.584814
205,jeffrey54@mcdonald-williams.com,13.919494,37.952013,5.066697,712.396327
368,rhonda01@gmail.com,12.729720,36.232110,5.705941,708.935185
24,youngbarbara@yahoo.com,12.893670,37.635756,5.705154,700.917092
305,randyrobinson@hotmail.com,13.459222,36.339521,5.566385,689.787604
464,susanibarra@yahoo.com,14.121784,38.406329,5.320094,689.235700
151,alicia85@lee.com,12.387184,37.431159,6.401229,684.163431
396,waltonkaren@gmail.com,10.889828,35.565436,6.115199,669.987141

In [17]:
print('Meus 10 melhores clientes passaram em média {:.2f} minutos no app'.format(m_clientes['Tempo_app'].mean()))
print('Passaram em média {:.2f} minutos no site'.format(m_clientes['Tempo_site'].mean()))
print('Seu processo de transação de compra durou, em média, {:.2f} minutos'.format(m_clientes['Tempo_compra'].mean()))

Meus 10 melhores clientes passaram em média 13.16 minutos no app
Passaram em média 36.84 minutos no site
Seu processo de transação de compra durou, em média, 5.82 minutos

In [22]:
dados1['Valor_da_venda'].sort_values(ascending = True).head(10)

225    256.670582
303    266.086341
415    275.918421
299    282.471246
173    298.762008
309    302.189548
434    304.135592
442    308.527747
447    314.438518
312    319.928870
Name: Valor_da_venda, dtype: float64

In [29]:
p_clientes = dados1.iloc[[225, 303, 415, 299, 173, 309, 434, 442, 447, 312], [0, 3, 4, 5, 6]]
print('Os 10 "piores" clientes são: \n')
p_clientes

Os 10 "piores" clientes são:

,Email,Tempo_app,Tempo_site,Tempo_compra,Valor_da_venda
225,alexandra26@summers-davis.com,10.256549,36.143908,0.789520,256.670582
303,brandon77@richardson.com,11.851399,36.925043,1.084585,266.086341
415,brian51@cook.info,10.745189,38.791235,1.428824,275.918421
299,morganorozco@hotmail.com,11.562936,35.976565,1.481617,282.471246
173,fischermonica@gmail.com,11.747732,36.939882,0.801516,298.762008
309,dblair@gmail.com,8.508152,35.462400,1.838211,302.189548
434,jordandavid@gmail.com,10.985764,36.352503,0.936498,304.135592
442,martinkristi@sanchez-coleman.com,8.668350,35.906756,2.252446,308.527747
447,sharongraves@yahoo.com,12.556108,37.805509,0.269901,314.438518
312,douglasdunlap@boone-rose.com,11.802986,36.315763,2.083814,319.928870

In [30]:
print('Meus 10 "piores" clientes passaram em média {:.2f} minutos no app'.format(p_clientes['Tempo_app'].mean()))
print('Passaram em média {:.2f} minutos no site'.format(p_clientes['Tempo_site'].mean()))
print('Seu processo de transação de compra durou, em média, {:.2f} minutos'.format(p_clientes['Tempo_compra'].mean()))

Meus 10 "piores" clientes passaram em média 10.87 minutos no app
Passaram em média 36.66 minutos no site
Seu processo de transação de compra durou, em média, 1.30 minutos